spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookingdb
    username: root
    password: "dorothy102938"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081